[run]
branch = 1
cover_pylib = 0
include=*faust/*
omit = t.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*
    */faust/__main__.py
    */faust/types/*
    */faust/assignor/*
    */faust/fixups/*
    */faust/web/apps/*
    */faust/utils/kafka/*
