[run]
branch = 1
cover_pylib = 0
include=*faust/*
omit = t.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*

    # tested by functional tests
    */faust/cli/agents.py
    */faust/cli/livecheck.py
    */faust/cli/model.py
    */faust/cli/models.py
    */faust/cli/reset.py
    */faust/cli/send.py
    */faust/cli/tables.py
    */faust/cli/worker.py
    */faust/web/apps/*
    */faust/assignor/*
    */faust/transport/drivers/memory.py
    */faust/transport/drivers/confluent.py

    # tested by integration
    */faust/tables/recovery.py

    # not needed
    */faust/utils/functional.py
    */faust/utils/kafka/*
    */faust/utils/iso8601.py
    */faust/utils/platforms.py
    */faust/utils/tracing.py
    */faust/types/*
    */faust/__main__.py

    # deprecated
    */faust/app/_attached.py
exclude_lines =
    # Have to re-enable the standard pragma
    if\ typing\.TYPE_CHECKING\:

    pragma: no cover

    if sys.platform == 'win32':

    \@abc\.abstractmethod
