[run]
branch = 1
cover_pylib = 0
include=*faust/*
omit = t.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*
    */faust/__main__.py
    */faust/agents/replies.py
    */faust/app/_attached.py
    */faust/app/router.py
    */faust/types/*
    */faust/assignor/*
    */faust/fixups/*
    */faust/web/apps/*
    */faust/utils/functional.py
    */faust/utils/kafka/*
    */faust/transport/*
    */faust/tables/*
    */faust/cli/_env.py
    */faust/cli/agents.py
    */faust/cli/base.py
    */faust/cli/model.py
    */faust/cli/models.py
    */faust/cli/reset.py
    */faust/cli/send.py
    */faust/cli/tables.py
    */faust/cli/worker.py
    */faust/windows.py
