include AUTHORS.rst
include CODE_OF_CONDUCT.rst
include Changelog.rst
include LICENSE
include README.rst
include MANIFEST.in
include setup.cfg
include setup.py
recursive-include artwork *
recursive-include docs *
recursive-include extra/*
recursive-include examples *
recursive-include faust *.py *.html *.typed *.pyx
recursive-include requirements *.txt *.rst
recursive-include t *.py *.sh *.txt
recursive-include t/stress/reports/assets LICENSE *.py *.js *.css *.scss *.map *.eot *.svg *.ttf *.woff *.woff2
recursive-include t/stress/reports/templates *.html

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .*.sw[a-z]
recursive-exclude * *.c *.so
