include Changelog
include LICENSE
include README.rst
include MANIFEST.in
include setup.cfg
include setup.py
recursive-include docs *
recursive-include extra/*
recursive-include examples *
recursive-include requirements *.txt *.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .*.sw[a-z]
