<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>GroupName</key>
    <string>faust-worker</string>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.fauststream.worker</string>
    <key>Program</key>
    <string>faust</string>
    <key>ProgramArguments</key>
    <array>
        <string>worker</string>
        <string>--datadir=/var/faust/myapp/</string>
        <string>-A myapp</string>
        <string>--loglevel=warn</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>Umask</key>
    <integer>7</integer>
    <key>UserName</key>
    <string>nobody</string>
    <key>WorkingDirectory</key>
    <string>/</string>
</dict>
</plist>
